.container {
    padding: 50px;
    max-width: 1020px;
    margin-top: 50px;
    color: white;
    background-image: url(https://images.unsplash.com/photo-1631618398019-e43a99fc37f5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80);
    background-size: 1050px;
}

footer {
    backdrop-filter: blur(9px);
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: pink;

}

a:hover {
    text-decoration: underline;

}