.HourlyForecast {
    text-align: center;
    font-size: 17px;
    margin: 20px 0 20px 0;
}

.HourlyForecast .col:hover {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.3);
}

.Forecast-temperature-min {
    opacity: 0.6;
}