.Weather {
    max-width: 1000px;
}


.above {
    background-color: rgba(249, 249, 249, 0.2);
    color: white;
    text-align: center;
    backdrop-filter: blur(4px);
}

.temperature {
    font-size: 40px;
}

.celsius {
    font-size: 20px;
    position: relative;
    top: -15px;
}

img {
    max-width: 80px;
}

.mainIcon {
    padding-top: 5px;
    max-width: 120px;
}


.weather {
    padding-top: 17px;
}

.main-icon:hover,
.weather:hover,
.cityWeather:hover {
    text-shadow: 0 0 10px rgb(122, 72, 248), 0 0 20px rgb(248, 151, 72), 0 0 30px rgb(248, 151, 72), 0 0 40px rgb(248, 151, 72);
}

.city {
    font-size: 25px;
    text-align: center;
}

.description {
    font-size: 15px;
    text-align: center;
}

.main-content {
    padding-top: 20px;
    background-image: url(https://images.unsplash.com/photo-1631618398019-e43a99fc37f5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80);
    background-size: 100%;
    height: 50%;

}

.current-weather {
    padding-left: 13px;
}

ul {
    padding-left: 0px;
}

li {
    list-style-type: none;
}