.Weather {
    max-width: 800px;

}


.above {
    background-color: rgba(249, 249, 249, 0.2);
    color: white;
    text-align: center;

}

.temperature {
    font-size: 40px;

}

.unit {
    position: relative;
    top: -18px;
}

img {
    max-width: 80px;
}

.icon {
    padding-top: 10px;

}

.description {
    padding-top: 7px;
}

.main-content {
    padding-top: 20px;
    background-image: url(https://images.unsplash.com/photo-1631618398019-e43a99fc37f5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80);
    background-size: 800px;
    height: 300px;

}

.current-weather {
    padding-left: 13px;
}

ul {
    padding-left: 0px;
}

li {
    list-style-type: none;
}